*{
    margin:0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

p, h1, h2, blockquote{
    font-family: 'Montserrat', sans-serif;
}
/*HEADER*/

header{
    background-color: #eaeaea;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
}

nav{
    width:100%;
}
.menu-navegacion{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
}

.item-nav{
    margin:20px;
}

.link-nav{
    color: #4f6d7a;
    padding:10px;
    font-family: 'Montserrat', sans-serif;
}

.link-nav:active{
    border-radius: 100px;
    box-shadow: 0 0 5px 3px  #747c92;
}

.link-nav.contacto{
    color: #c0d6df;
    background-color: #372772;
    border-radius: 100px;
    padding-left: 25px;
    padding-right: 25px;
    
}

.link-nav.contacto:hover{
    background-color: #747c92;
}

.link-nav.contacto:active{
    background-color: #372772;
    box-shadow: 0 0 5px 3px  #747c92;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

a:hover{
    color: #3a2449 ;
}

/*PRESENTACIÒN*/


.seccion-presentacion{
    background-color: #eaeaea;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.seccion-info{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 50%  
}
.texto-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;
}

.saludo{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}

.nombre{
    font-weight: 900;
    font-size:75px;
    margin-left: 6px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #3A2449;
}

.datos{
    color: #4f6d7a;
    margin-left: 10px;
}

.link-nav.proyectos{
    color: #c0d6df;
    background-color: #372772;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 13px;
    padding-left: 25px;
    padding-right: 25px;
}

.link-nav.proyectos:hover{
    background-color: #747c92;
}
    
.seccion-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;  
    height: 100vh;
    width: 50%  

}

.imagen{
    width:100%;
    height: auto;
}

/*CONOCIMIENTOS*/
.seccion-conocimientos{
    background-color: #c0d6df;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 75px;
}

.titulo-seccion-conocimientos{
    width: 100%;
    font-size: 50px;
    margin-top: 100px;
}

.descripcion-conocimientos{
    width: 100%;
    text-align: center;
}

.cuadricula{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.cuadricula-item{
    background-color: #eaeaea;
    color: #4f6d7a;
    width: 230px;
    height: 250px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid #747c92;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-conocimiento{
    font-weight: 900;
    margin:20px;
    text-align: center;
}

.cuadricula-item:hover{
    border: 1px solid  #3a2449;
    color: #3a2449;
}

.tamaño-icono{
    font-size: 100px;
}
.devicon-microsoftsqlserver-plain{
    color: black;
}

/*CITA*/

.seccion-cita{
    background-color:#4f6d7a;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.div-cita{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 50px;
}
.fa-quote-right{
    color: #eaeaea;
}

blockquote{
    color:#eaeaea ;
    text-align: center;
    font-size: 18px;
    margin: 40px;
}

.nombre-cita{
    color: #eaeaea;
    text-align: center;
}
/*FOOTER*/

footer{
    background-color: #dd6e42;
    padding: 20px;
    display:flex;
    flex-direction: column;
}

.menu-navegacion-footer{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.item-nav-footer{
    margin-top: 40px;
    margin-right:20px;
}

.link-nav-footer{
    color: #eaeaea;
    padding:5px;
    font-family: 'Montserrat', sans-serif;
}

.link-nav-footer:active{
    border-radius: 5px;
    box-shadow: 0 0 5px 3px  #747c92;
}

.redes-sociales-links-footer{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    list-style-type: none;
    justify-content: center;
}

.redes-sociales-item-footer{
    margin-right: 15px;
}

.icono-red-social{
    font-size: 40px;
    color: #eaeaea;
}

.icono-red-social:hover{
    color: #3a2449 ;
}

.mede-by{
    color: #eaeaea;
    text-align: center;
}

/*RESPONSIVE*/

@media (max-width: 1024px) {
 header{
     display:none;
 }   
}

@media (max-width: 600px) {

    .seccion-presentacion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seccion-info{
        width: 100%;  
        height: 50%;
        margin-top: 50px;
        justify-content: center;
    }

    .texto-info, .nombre, .saludo, .datos, .link-nav.proyectos{
        margin-left: 0;
    }
    .texto-info{
        align-items: center;
    }

    .saludo{
        font-size: 21px;
    }
    
    .nombre{
        font-size:56px;
    }
    
    .datos{
        font-size:18px;
    }

    .seccion-imagen{
        width: 100%;
        height: 50%;
        padding:0;
        margin-top: 50px;
    }

    .imagen{
        width:75%;
        height: auto;
        margin-bottom:15px;
    }

    .saludo, .nombre, .datos{
        text-align: center;
    }

    /*CONOCIMIENTOS*/

    .titulo-seccion-conocimientos{
        font-size: 30px;
        text-align: center;
    }


    .div-descripcion-conocimientos{
        margin-top: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .descripcion-conocimientos{
        font-size: 16px;
    }

    /*FOOTER*/
    .menu-navegacion-footer{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;
    
    }

    
   
}