*{
    margin:0;
    padding: 0;
}
p, h1, h2, blockquote{
    font-family: 'Montserrat', sans-serif;
}
/*HEADER*/

header{
    background-color: #eaeaea;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
}
nav{
    width:100%;
}
.menu-navegacion{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
}

.item-nav{
    margin:20px;
}

.link-nav{
    color: #4f6d7a;
    padding:10px;
    font-family: 'Montserrat', sans-serif;
}
.link-nav.contacto{
    color: #c0d6df;
    background-color: #372772;
    border-radius: 100px;
    padding-left: 25px;
    padding-right: 25px;
    
}
.link-nav.contacto:hover{
    background-color: #747c92;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

a:hover{
    color: #3a2449 ;
}



/*PRESENTACIÒN*/


.seccion-presentacion{
    background-color: #eaeaea;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.seccion-info{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 50%  
}
.texto-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;
}

.saludo{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}

.nombre{
    font-size:75px;
    margin-left: 6px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #3A2449;
}

.datos{
    margin-left: 10px;
}
.seccion-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;  
    height: 100vh;
    width: 50%  

}

.imagen{
    width:100%;
    height: auto;
}

/*CONOCIMIENTOS*/
.seccion-conocimientos{
    background-color: #c0d6df;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    height: 900px;
    width: 100%;
}

.titulo-conocimientos{
    font-size: 50px;
    margin-top: 50px;
}

.descripcion-conocimientos{
    width: 500px;
    text-align: center;
}

.cuadricula{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
}

.cuadricula-item{
    background-color: #eaeaea;
    width: 230px;
    height: 250px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid #747c92;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuadricula-item:hover{
    border: 1px solid  #3a2449;
    color: #3a2449;
}

.tamaño-icono{
    font-size: 100px;
}

.titulo-conocimiento{
    margin:20px;
    text-align: center;
}
/*CITA*/

.seccion-cita{
    background-color:#4f6d7a;
    width: 100%;
    height: 600px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.div-cita{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 50px;
}
.fa-quote-right{
    color: #eaeaea;
}

blockquote{
    color:#eaeaea ;
    text-align: center;
    font-size: 18px;
    margin: 40px;
}

.nombre-cita{
    color: #eaeaea;
}
/**/
footer{
    background-color: #dd6e42;
    height:100px;
    display:flex;
    justify-content: center;
}
